/* src/components/Home.css */
.alfaContainer {
    background-color: #2D2D2D;  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .braContent {
    color: white;
    
    display: flex;
    gap: 5rem;
    height: 70%;
    max-width: 1300px;
    width: 100%;
    /* border: 1px solid #ddd; */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 0;
    border-bottom: 30px solid#6c6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent; */
  }
  
  .homeImage img {
    width: 20;
    height: 20rem;
    object-fit:cover;

    
    align-items: center;
    justify-content: center;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    
    
  }
  
  .homeImage {
    display: flex;
    /* flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2 */
  }
  
  .homeText {
    flex: 2;
    padding: 20px;
    font-family: 'Inter', sans-serif 50,;
  }
  
  .homeText h1 {

    font-size: 1px;
    font-family: open sans-serif;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
  }
 

  .alfa-h2{
    
    font-family: inter;
    font-weight:bold;
  }
  .bar-h2{
    text-shadow: 0px 1px 1px;
       font-weight:bold;
  }

  .homeText h2 span{
    color:#B99B6C; 
    
  }
  
  .homeText p {
    color: white;
    line-height: 1.6;
  }
  
  .homeText ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  .homeText li {
    margin-bottom: 10px;
  }

  .homeText button{
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .btn{

    display: flex;
    padding: 4rem;
    justify-content: center;
    gap: 50px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .btn-alfa {
    color: #1F2020;
    background-color: #B99B6C;
    text-shadow: 0px 1px 1px;
  }

  .btn-bra {
    text-shadow: 0px 1px 1px;
  }


  